@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overscroll-behavior: none;
}

:not(input) {
  user-select: none;
}

@font-face {
  font-family: DamageFont;
  src: url(./fonts/Digitalt.otf);
}
